---
import Layout from "../layouts/Layout.astro";
import EventCalendar from "../components/EventCalendar.astro";
---

<Layout title="Calendar">
    <main>
        <section class="min-h-screen max-w-7xl mx-auto">
            <EventCalendar />
        </section>
    </main>
</Layout>
