<footer class="footer p-10 bg-base-200 text-base-content">
    <div>
        <a href="/feed">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                ></path>
            </svg>
        </a>
        <p>© 2023 CC-BY-SA Koha Library Software Community</p>
    </div>
    <div>
        <span class="footer-title">Socials</span>
        <a class="link link-hover" href="https://mastodon.world/@KohaILS"
            >@KohaILS@mastodon.world</a
        >
        <a class="link link-hover" href="https://twitter.com/kohails">Twitter</a
        >
        <a class="link link-hover" href="https://www.youtube.com/c/KohaILS"
            >YouTube</a
        >
    </div>
    <div>
        <span class="footer-title">Get involved</span>
        <a class="link link-hover" href="https://bugs.koha-community.org/"
            >Bugzilla</a
        >
        <a class="link link-hover" href="https://wiki.koha-community.org/"
            >Koha Wiki</a
        >
    </div>
    <div>
        <span class="footer-title">Community Resources</span>
        <a
            class="link link-hover"
            href="/about/policy/koha-community-code-of-conduct"
            >Code of Conduct</a
        >
        <a class="link link-hover" href="https://meetings.koha-community.org/"
            >Meeting Transcripts and Minutes</a
        >
        <a class="link link-hover" href="https://dashboard.koha-community.org/"
            >Project Dashboard</a
        >
        <a class="link link-hover" href="/about/release-schedule"
            >Release Schedule</a
        >
    </div>
    <div>
        <span class="footer-title">Repositories</span>
        <a class="link link-hover" href="https://gitlab.com/koha-community/Koha"
            >Gitlab Mirror</a
        >
        <a
            class="link link-hover"
            href="https://git.koha-community.org/koha-community/koha"
            >Koha Git Repository</a
        >
        <a class="link link-hover" href="http://www.openhub.net/p/koha"
            >Open Hub</a
        >
    </div>
</footer>
