<div class="navbar fixed top-0 bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
            >
                <li><a>Home</a></li>
                <li><a>News</a></li>
                <li tabindex="0">
                    <details>
                        <summary>About</summary>
                        <ul class="p-2">
                            <li><a>History</a></li>
                            <li><a>Project Organization</a></li>
                            <ul class="p-2">
                                <li>
                                    <a
                                        >Horowhenua Library Trust Koha Committee
                                        Rules</a
                                    >
                                </li>
                            </ul>
                            <li><a>Policy</a></li>
                            <ul class="p-2">
                                <li><a>Trademark Usage Policy</a></li>
                                <li><a>Comments Policy</a></li>
                                <li><a>Koha Community Code of Conduct</a></li>
                            </ul>
                            <li><a>Release Schedule</a></li>
                            <li><a>Worldwide</a></li>
                        </ul>
                    </details>
                </li>
                <li><a>Calendar</a></li>
                <li><a>Demo</a></li>
                <li tabindex="0">
                    <details>
                        <summary>Documentation</summary>
                        <ul class="p-2">
                            <li><a>Documentation - Unsupported Version</a></li>
                            <li><a>Test Bibliography</a></li>
                            <li><a>Other Docs</a></li>
                            <li><a>Koha Bibliography</a></li>
                        </ul>
                    </details>
                </li>
                <li><a>Download Koha</a></li>
                <li tabindex="0">
                    <details>
                        <summary>Get involved</summary>
                        <ul class="p-2">
                            <li><a>Chat</a></li>
                            <li><a>Enhancing Koha</a></li>
                            <li><a>For Developers</a></li>
                            <li><a>For Librarians</a></li>
                            <li><a>For Library Users</a></li>
                        </ul>
                    </details>
                </li>
                <li tabindex="0">
                    <details>
                        <summary>KohaCon</summary>
                        <ul class="p-2">
                            <li><a>KohaCon23</a></li>
                            <li><a>KohaCon22</a></li>
                            <li><a>KohaCon21</a></li>
                            <li><a>KohaCon20</a></li>
                            <li><a>KohaCon19</a></li>
                            <li><a>KohaCon18</a></li>
                            <li><a>KohaCon17</a></li>
                            <li><a>KohaCon16</a></li>
                            <li><a>KohaCon15</a></li>
                            <li><a>KohaCon14</a></li>
                        </ul>
                    </details>
                </li>
                <li tabindex="0">
                    <details>
                        <summary>Support</summary>
                        <ul class="p-2">
                            <li><a>Community Support</a></li>
                            <li><a>Koha Mailing Lists</a></li>
                            <ul class="p-2">
                                <li>
                                    <a>Web Forums</a>
                                </li>
                            </ul>
                            <li><a>Paid Support</a></li>
                            <ul class="p-2">
                                <li>
                                    <a>How to get Listed</a>
                                </li>
                            </ul>
                            <li><a>Report a Problem</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <a class="normal-case text-xl mx-2" href="/"
            ><img
                src="/svg/logo_bw.svg"
                class="mr-3 h-12 invert"
                alt="Koha Logo"
            /></a
        >
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a>Home</a></li>
            <li><a>News</a></li>
            <li tabindex="0">
                <details>
                    <summary>About</summary>
                    <ul class="p-2">
                        <li><a>History</a></li>
                        <li><a>Project Organization</a></li>
                        <ul class="p-2">
                            <li>
                                <a
                                    >Horowhenua Library Trust Koha Committee
                                    Rules</a
                                >
                            </li>
                        </ul>
                        <li><a>Policy</a></li>
                        <ul class="p-2">
                            <li><a>Trademark Usage Policy</a></li>
                            <li><a>Comments Policy</a></li>
                            <li><a>Koha Community Code of Conduct</a></li>
                        </ul>
                        <li><a>Release Schedule</a></li>
                        <li><a>Worldwide</a></li>
                    </ul>
                </details>
            </li>
            <li><a>Calendar</a></li>
            <li><a>Demo</a></li>
            <li tabindex="0">
                <details>
                    <summary>Documentation</summary>
                    <ul class="p-2">
                        <li><a>Documentation - Unsupported Version</a></li>
                        <li><a>Test Bibliography</a></li>
                        <li><a>Other Docs</a></li>
                        <li><a>Koha Bibliography</a></li>
                    </ul>
                </details>
            </li>
            <li><a>Download Koha</a></li>
            <li tabindex="0">
                <details>
                    <summary>Get involved</summary>
                    <ul class="p-2">
                        <li><a>Chat</a></li>
                        <li><a>Enhancing Koha</a></li>
                        <li><a>For Developers</a></li>
                        <li><a>For Librarians</a></li>
                        <li><a>For Library Users</a></li>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>KohaCon</summary>
                    <ul class="p-2">
                        <li><a>KohaCon23</a></li>
                        <li><a>KohaCon22</a></li>
                        <li><a>KohaCon21</a></li>
                        <li><a>KohaCon20</a></li>
                        <li><a>KohaCon19</a></li>
                        <li><a>KohaCon18</a></li>
                        <li><a>KohaCon17</a></li>
                        <li><a>KohaCon16</a></li>
                        <li><a>KohaCon15</a></li>
                        <li><a>KohaCon14</a></li>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>Support</summary>
                    <ul class="p-2">
                        <li><a>Community Support</a></li>
                        <li><a>Koha Mailing Lists</a></li>
                        <ul class="p-2">
                            <li>
                                <a>Web Forums</a>
                            </li>
                        </ul>
                        <li><a>Paid Support</a></li>
                        <ul class="p-2">
                            <li>
                                <a>How to get Listed</a>
                            </li>
                        </ul>
                        <li><a>Report a Problem</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>
