<div class="navbar sticky z-50 top-0 bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box"
            >
                <li><a href="/">Home</a></li>
                <li><a href="/news">News</a></li>
                <li tabindex="0">
                    <details>
                        <summary>About</summary>
                        <ul class="p-2">
                            <li><a href="/about">About</a></li>
                            <li><a>History</a></li>
                            <li>
                                <a href="/about/project-organization"
                                    >Project Organization</a
                                >
                            </li>
                            <ul class="p-2">
                                <li>
                                    <a
                                        href="/about/project-organization/horowhenua-library-trust-koha-committee-rules"
                                        >Horowhenua Library Trust Koha Committee
                                        Rules</a
                                    >
                                </li>
                            </ul>
                            <li><a href="/about/policy">Policy</a></li>
                            <ul class="p-2">
                                <li>
                                    <a
                                        href="/about/policy/trademark-usage-policy"
                                        >Trademark Usage Policy</a
                                    >
                                </li>
                                <li>
                                    <a href="/about/policy/comments-policy"
                                        >Comments Policy</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="/about/policy/koha-community-code-of-conduct"
                                        >Koha Community Code of Conduct</a
                                    >
                                </li>
                            </ul>
                            <li>
                                <a href="/about/release-schedule"
                                    >Release Schedule</a
                                >
                            </li>
                            <li><a href="/about/worldwide">Worldwide</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/demo">Demo</a></li>
                <li tabindex="0">
                    <details>
                        <summary>Documentation</summary>
                        <ul class="p-2">
                            <li><a href="/documentation">Documentation</a></li>
                            <li>
                                <a href="/documentation/unsupported-versions"
                                    >Documentation - Unsupported Version</a
                                >
                            </li>
                            <li>
                                <a href="/documentation/test-bibliography"
                                    >Test Bibliography</a
                                >
                            </li>
                            <li>
                                <a href="/documentation/other-docs"
                                    >Other Docs</a
                                >
                            </li>
                            <li>
                                <a href="/documentation/koha-bibliography"
                                    >Koha Bibliography</a
                                >
                            </li>
                        </ul>
                    </details>
                </li>
                <li><a href="/download-koha">Download Koha</a></li>
                <li tabindex="0">
                    <details>
                        <summary>Get involved</summary>
                        <ul class="p-2">
                            <li><a href="/get-involved">Get involved</a></li>
                            <li><a href="/get-involved/chat">Chat</a></li>
                            <li>
                                <a href="/get-involved/enhancing-koha"
                                    >Enhancing Koha</a
                                >
                            </li>
                            <li>
                                <a href="/get-involved/for-developers"
                                    >For Developers</a
                                >
                            </li>
                            <li>
                                <a href="/get-involved/for-librarians"
                                    >For Librarians</a
                                >
                            </li>
                            <li>
                                <a href="/get-involved/for-library-users"
                                    >For Library Users</a
                                >
                            </li>
                        </ul>
                    </details>
                </li>
                <li tabindex="0">
                    <details>
                        <summary>KohaCon</summary>
                        <ul class="p-2">
                            <li><a href="/kohacon">KohaCon</a></li>
                            <li><a href="/kohacon/kohacon23">KohaCon23</a></li>
                            <li><a href="/kohacon/kohacon22">KohaCon22</a></li>
                            <li><a href="/kohacon/kohacon21">KohaCon21</a></li>
                            <li><a href="/kohacon/kohacon20">KohaCon20</a></li>
                            <li><a href="/kohacon/kohacon19">KohaCon19</a></li>
                            <li><a href="/kohacon/kohacon18">KohaCon18</a></li>
                            <li><a href="/kohacon/kohacon17">KohaCon17</a></li>
                            <li><a href="/kohacon/kohacon16">KohaCon16</a></li>
                            <li><a href="/kohacon/kohacon15">KohaCon15</a></li>
                            <li><a href="/kohacon/kohacon14">KohaCon14</a></li>
                            <ul class="p-2">
                                <li>
                                    <a href="/kohacon/kohacon14/schedule"
                                        >Schedule</a
                                    >
                                </li>
                                <li>
                                    <a href="/kohacon/kohacon14/venue">Venue</a>
                                </li>
                            </ul>
                        </ul>
                    </details>
                </li>
                <li tabindex="0">
                    <details>
                        <summary>Support</summary>
                        <ul class="p-2">
                            <li><a href="/support">Support</a></li>
                            <li>
                                <a href="/support/community-support"
                                    >Community Support</a
                                >
                            </li>
                            <li>
                                <a href="/support/koha-mailing-lists"
                                    >Koha Mailing Lists</a
                                >
                            </li>
                            <ul class="p-2">
                                <li>
                                    <a
                                        href="/support/koha-mailing-lists/web-forums"
                                        >Web Forums</a
                                    >
                                </li>
                            </ul>
                            <li>
                                <a href="/support/paid-support">Paid Support</a>
                            </li>
                            <ul class="p-2">
                                <li>
                                    <a
                                        href="/support/paid-support/how-to-get-listed"
                                        >How to get Listed</a
                                    >
                                </li>
                            </ul>
                            <li>
                                <a href="/support/report-a-problem"
                                    >Report a Problem</a
                                >
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <a class="normal-case text-xl mx-2" href="/"
            ><img
                id="brand"
                src="/svg/logo_bw.svg"
                class="mr-3 h-12 invert"
                alt="Koha Logo"
            /></a
        >
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li tabindex="0">
                <details>
                    <summary>About</summary>
                    <ul class="p-2">
                        <li><a href="/about">About</a></li>
                        <li><a>History</a></li>
                        <li>
                            <a href="/about/project-organization"
                                >Project Organization</a
                            >
                        </li>
                        <ul class="p-2">
                            <li>
                                <a
                                    href="/about/project-organization/horowhenua-library-trust-koha-committee-rules"
                                    >Horowhenua Library Trust Koha Committee
                                    Rules</a
                                >
                            </li>
                        </ul>
                        <li><a href="/about/policy">Policy</a></li>
                        <ul class="p-2">
                            <li>
                                <a href="/about/policy/trademark-usage-policy"
                                    >Trademark Usage Policy</a
                                >
                            </li>
                            <li>
                                <a href="/about/policy/comments-policy"
                                    >Comments Policy</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/about/policy/koha-community-code-of-conduct"
                                    >Koha Community Code of Conduct</a
                                >
                            </li>
                        </ul>
                        <li>
                            <a href="/about/release-schedule"
                                >Release Schedule</a
                            >
                        </li>
                        <li><a href="/about/worldwide">Worldwide</a></li>
                    </ul>
                </details>
            </li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/demo">Demo</a></li>
            <li tabindex="0">
                <details>
                    <summary>Documentation</summary>
                    <ul class="p-2">
                        <li><a href="/documentation">Documentation</a></li>
                        <li>
                            <a href="/documentation/unsupported-versions"
                                >Documentation - Unsupported Version</a
                            >
                        </li>
                        <li>
                            <a href="/documentation/test-bibliography"
                                >Test Bibliography</a
                            >
                        </li>
                        <li>
                            <a href="/documentation/other-docs">Other Docs</a>
                        </li>
                        <li>
                            <a href="/documentation/koha-bibliography"
                                >Koha Bibliography</a
                            >
                        </li>
                    </ul>
                </details>
            </li>
            <li><a href="/download-koha">Download Koha</a></li>
            <li tabindex="0">
                <details>
                    <summary>Get involved</summary>
                    <ul class="p-2">
                        <li><a href="/get-involved">Get involved</a></li>
                        <li><a href="/get-involved/chat">Chat</a></li>
                        <li>
                            <a href="/get-involved/enhancing-koha"
                                >Enhancing Koha</a
                            >
                        </li>
                        <li>
                            <a href="/get-involved/for-developers"
                                >For Developers</a
                            >
                        </li>
                        <li>
                            <a href="/get-involved/for-librarians"
                                >For Librarians</a
                            >
                        </li>
                        <li>
                            <a href="/get-involved/for-library-users"
                                >For Library Users</a
                            >
                        </li>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>KohaCon</summary>
                    <ul class="p-2">
                        <li><a href="/kohacon">KohaCon</a></li>
                        <li><a href="/kohacon/kohacon23">KohaCon23</a></li>
                        <li><a href="/kohacon/kohacon22">KohaCon22</a></li>
                        <li><a href="/kohacon/kohacon21">KohaCon21</a></li>
                        <li><a href="/kohacon/kohacon20">KohaCon20</a></li>
                        <li><a href="/kohacon/kohacon19">KohaCon19</a></li>
                        <li><a href="/kohacon/kohacon18">KohaCon18</a></li>
                        <li><a href="/kohacon/kohacon17">KohaCon17</a></li>
                        <li><a href="/kohacon/kohacon16">KohaCon16</a></li>
                        <li><a href="/kohacon/kohacon15">KohaCon15</a></li>
                        <li><a href="/kohacon/kohacon14">KohaCon14</a></li>
                        <ul class="p-2">
                            <li>
                                <a href="/kohacon/kohacon14/schedule"
                                    >Schedule</a
                                >
                            </li>
                            <li>
                                <a href="/kohacon/kohacon14/venue">Venue</a>
                            </li>
                        </ul>
                    </ul>
                </details>
            </li>
            <li tabindex="0">
                <details>
                    <summary>Support</summary>
                    <ul class="p-2">
                        <li><a href="/support">Support</a></li>
                        <li>
                            <a href="/support/community-support"
                                >Community Support</a
                            >
                        </li>
                        <li>
                            <a href="/support/koha-mailing-lists"
                                >Koha Mailing Lists</a
                            >
                        </li>
                        <ul class="p-2">
                            <li>
                                <a href="/support/koha-mailing-lists/web-forums"
                                    >Web Forums</a
                                >
                            </li>
                        </ul>
                        <li>
                            <a href="/support/paid-support">Paid Support</a>
                        </li>
                        <ul class="p-2">
                            <li>
                                <a
                                    href="/support/paid-support/how-to-get-listed"
                                    >How to get Listed</a
                                >
                            </li>
                        </ul>
                        <li>
                            <a href="/support/report-a-problem"
                                >Report a Problem</a
                            >
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
        <li class="flex gap-2 justify-center items-center">
            <span>🌞</span>
            <input
                id="theme-toggle"
                data-toggle-theme="dark,light"
                data-act-class="ACTIVECLASS"
                type="checkbox"
                class="toggle toggle-sm"
            />
            <span>🌚</span>
        </li>
    </div>
</div>

<script>
    const theme = localStorage.getItem("theme");
    const themeToggle = document.getElementById("theme-toggle");
    if (themeToggle instanceof HTMLInputElement) {
        themeToggle.checked = theme === "dark";
        themeToggle?.addEventListener("change", handleThemeToggle);
    }

    const brand = document.getElementById("brand");
    if (theme === "light" && brand instanceof HTMLImageElement) {
        brand.classList.remove("invert");
    }

    const dropdowns = document.querySelectorAll("details");
    dropdowns.forEach((dropdown) => {
        if (!(dropdown instanceof HTMLDetailsElement)) {
            return;
        }

        dropdown.addEventListener("click", handleDropdownClick);
    });

    function handleDropdownClick(e: Event) {
        const target = e.target as HTMLElement;
        const details = target.closest("details");
        Array.from(dropdowns)
            .filter((dropdown) => dropdown !== details)
            .forEach((dropdown) => {
                dropdown.removeAttribute("open");
            });
    }

    function handleThemeToggle() {
        const theme = localStorage.getItem("theme");
        if (!(brand instanceof HTMLImageElement)) {
            return;
        }

        if (theme === "dark") {
            brand.classList.add("invert");
        } else {
            brand.classList.remove("invert");
        }
    }
</script>
